<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >Make your UI</title> 
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow:hidden;
    }
    .hover1 {
    transition: box-shadow 0.5s ease;
  }
  </style>
</head>
<body >

<!--safe zone-->

<img src="static/color1.jpg" style="  position: absolute;  left:0%;  top:0%;  width:100.0%;  height:100%; ">

<div id="hover2_1" style="  position: absolute;  left:23.05%;  top:82.33%;  width:13.59%;  aspect-ratio:4.436; background:linear-gradient(135deg, #56c3f5d6, #af11cb); border-radius:10px; "></div> 

<div  id="hover2_2" style="  position: absolute;  left:38.05%;  top:82.33%;  width:13.59%;  aspect-ratio:4.436; background:linear-gradient(135deg, #56c3f5d6, #af11cb); border-radius:10px; "></div> 

<div  id="hover2_3" style="  position: absolute;  left:53.05%;  top:82.33%;  width:13.59%;  aspect-ratio:4.436; background:linear-gradient(135deg, #56c3f5d6, #af11cb); border-radius:10px; "></div> 

<div  id="hover2_4" style="  position: absolute;  left:68.05%;  top:82.33%;  width:13.59%;  aspect-ratio:4.436; background:linear-gradient(135deg, #56c3f5d6, #af11cb); border-radius:10px; "></div> 

<img  src="static/dashboard.png" style="  position: absolute;  left:23.83%;  top:83.70%;  width:1.5%;  aspect-ratio:1; border-radius:20px; ">
<img src="static/analytics.png" style="  position: absolute;  left:38.83%;  top:83.70%;  width:1.5%;  aspect-ratio:1; border-radius:20px; ">
<img src="static/predictions.png" style="  position: absolute;  left:53.83%;  top:83.70%;  width:1.5%;  aspect-ratio:1; border-radius:20px; ">
<img  src="static/performance.png" style="  position: absolute;  left:68.83%;  top:83.70%;  width:1.5%;  aspect-ratio:1; border-radius:20px; ">




<div  style="  position: absolute;  left:25.91%;  top:83.29%;  width:8.599%;  font-size: 0.955vw;  aspect-ratio:8.415; color:white">Dashboard</div> 

<div  style="  position: absolute;  left:26%;  top:86.03%;  width:8.600%;  font-size: 0.77vw;  aspect-ratio:11.01; color:whitesmoke">Main control panel</div> 
<div  style="  position: absolute;  left:40.91%;  top:83.29%;  width:8.599%;  font-size: 0.955vw;  aspect-ratio:8.415; color:white">Analytics</div> 

<div  style="  position: absolute;  left:41%;  top:86.03%;  width:8.600%;  font-size: 0.77vw;  aspect-ratio:11.01; color:whitesmoke">Visual data insights</div> 
<div  style="  position: absolute;  left:55.91%;  top:83.29%;  width:8.599%;  font-size: 0.955vw;  aspect-ratio:8.415; color:white">AI Predictions</div> 

<div  style="  position: absolute;  left:56%;  top:86.03%;  width:8.600%;  font-size: 0.77vw;  aspect-ratio:11.01; color:whitesmoke">7-day forecasts</div> 
<div  style="  position: absolute;  left:70.91%;  top:83.29%;  width:8.599%;  font-size: 0.955vw;  aspect-ratio:8.415; color:white">Performance</div> 

<div  style="  position: absolute;  left:71%;  top:86.03%;  width:8.600%;  font-size: 0.77vw;  aspect-ratio:11.01; color:whitesmoke">Key metrics</div> 


<img src="static/performance1.png" style="  position: absolute;  left:38.07%;  top:11.10%;  width:3.380%;  aspect-ratio:1; ">
<!--font-weight:bold;-->
<div  style="  position: absolute;  left:42.82%;  top:12.37%;  width:30.86%;  font-size: 2vw;  aspect-ratio:10.69; color:rgb(30, 215, 248)">Performance Metrics</div> 


<div  style="  position: absolute;  left:32.04%;  top:18.77%;  width:39.32%;  font-size: 1vw;  aspect-ratio:16.35; color:grey">Key performance indicators and optimization results for your power generation system</div> 


<div  style="  position: absolute;  left:47.05%;  top:22.88%;  width:5.940%;  height:1%; background:linear-gradient(135deg, #7ee5ff, #6a11cb); border-radius:20px; "></div> 
<div class="hover1" id="hover1_1"  style="  position: absolute;  left:2.5%;  top:35%; border-radius:20px; width:15%;  aspect-ratio: 1; background-color:transparent; border:0.01px solid rgba(90, 88, 88, 0.356);"></div> 
<div class="hover1" id="hover1_2"  style="  position: absolute;  left:22.5%;  top:35%; border-radius:20px; width:15%;  aspect-ratio: 1; background-color:transparent; border:0.5px solid rgba(90, 88, 88, 0.356);"></div> 
<div class="hover1" id="hover1_3"  style="  position: absolute;  left:42.5%;  top:35%; border-radius:20px; width:15%;  aspect-ratio: 1; background-color:transparent; border:0.5px solid rgba(90, 88, 88, 0.356);"></div> 
<div class="hover1" id="hover1_4"  style="  position: absolute;  left:62.5%;  top:35%; border-radius:20px; width:15%;  aspect-ratio: 1; background-color:transparent; border:0.5px solid rgba(90, 88, 88, 0.356);"></div> 
<div class="hover1" id="hover1_5"  style="  position: absolute;  left:82.5%;  top:35%; border-radius:20px; width:15%;  aspect-ratio: 1; background-color:transparent; border:0.5px solid rgba(90, 88, 88, 0.356);"></div> 



<img src="static/iconfuel.png" style="  position: absolute;  left:3%;  top:37.5%;  width:3%;  aspect-ratio:1.1; ">

<div  style="  position: absolute;  left:8.5%;  top:45%;  width:9.969%;  font-size: 1.46vw;  aspect-ratio:3.788; color:orange">{{fuel}}</div> 


<div  style="  position: absolute;  left:7.5%;  top:49.92%;  width:6.96%;  font-size: 1vw;  aspect-ratio:5.289; color:grey">gallons/day</div> 


<div  style="  position: absolute;  left:3.59%;  top:57.19%;  width:12.22%; text-align:center; font-size: 1.411vw;  aspect-ratio:3.599; color:white">Recommended Fuel Use</div> 

<img src="static/dashboard.png" style="  position: absolute;  left:23%;  top:37.5%;  width:2.3%;  aspect-ratio:1.1; border-radius:10px; ">

<div  style="  position: absolute;  left:28.5%;  top:45%;  width:9.969%;  font-size: 1.46vw;  aspect-ratio:3.788; color:#7ee5ff">{{gen}}</div> 

<div  style="  position: absolute;  left:27.5%;  top:49.92%;  width:3.96%; text-align: center; font-size: 1vw;  aspect-ratio:5.289; color:grey">MW</div> 

<div  style="  position: absolute;  left:23.59%;  top:57.19%;  width:12.22%; text-align:center; font-size: 1.411vw;  aspect-ratio:3.599; color:white">Recommended Generation</div> 

<img src="static/co2.png" style="  position: absolute;  left:43%;  top:37.5%;  width:2.7%;  aspect-ratio:1.1; border-radius:10px; ">

<div  style="  position: absolute;  left:48.5%;  top:45%;  width:9.969%;  font-size: 1.46vw;  aspect-ratio:3.788; color:rgb(69, 185, 94);">{{co2}}</div> 

<div  style="  position: absolute;  left:47.5%;  top:49.92%;  width:3.96%; font-size: 1vw; text-align:center; aspect-ratio:5.289; color:grey">tonnes</div> 

<div  style="  position: absolute;  left:43.59%;  top:57.19%;  width:12.22%; text-align:center; font-size: 1.411vw;  aspect-ratio:3.599; color:white">CO2 Saved</div> 

<img src="static/fuelsaved.png" style="  position: absolute;  left:63%;  top:37.5%;  width:2.6%;  aspect-ratio:1.1; border-radius:10px; ">

<div  style="  position: absolute;  left:67.5%;  top:45%;  width:9.969%;  font-size: 1.46vw;  aspect-ratio:3.788; color:#7ee5ff">{{fuelsaved}}</div> 

<div  style="  position: absolute;  left:67.5%;  top:49.92%;  width:3.96%; text-align: center; font-size: 1vw;  aspect-ratio:5.289; color:grey">gallons/day</div> 

<div  style="  position: absolute;  left:63.59%;  top:57.19%;  width:12.22%; text-align:center; font-size: 1.411vw;  aspect-ratio:3.599; color:white">Fuel Saved</div> 

<img src="static/costsaved.png" style="  position: absolute;  left:83%;  top:37.5%;  width:2.6%;  aspect-ratio:1.1; border-radius:10px; ">

<div  style="  position: absolute;  left:87.5%;  top:45%;  width:9.969%;  font-size: 1.46vw;  aspect-ratio:3.788; color:#da7eff">{{costsaved}}</div> 

<div  style="  position: absolute;  left:87.5%;  top:49.92%;  width:3.96%; text-align: center; font-size: 1vw;  aspect-ratio:5.289; color:grey">Rs./day</div> 

<div  style="  position: absolute;  left:83.59%;  top:57.19%;  width:12.22%; text-align:center; font-size: 1.411vw;  aspect-ratio:3.599; color:white">Cost Saved</div> 


<!--Write here-->

<script>
const target11 = document.getElementById("hover1_1");
const target12 = document.getElementById("hover1_2");
const target13 = document.getElementById("hover1_3");
const target14 = document.getElementById("hover1_4");
const target15 = document.getElementById("hover1_5");
const target21 = document.getElementById("hover2_1");
const target22 = document.getElementById("hover2_2");
const target23 = document.getElementById("hover2_3");
const target24 = document.getElementById("hover2_4");
document.addEventListener("mousemove", e => {
  const x = e.clientX;
  const y = e.clientY;
  const viewportWidth = window.innerWidth;
      const viewportHeight = window.innerHeight;
      const percentX = ((x / viewportWidth) * 100)
      const percentY = ((y / viewportHeight) * 100)
  f=0
  if (percentX >= 2.5 && percentX <= 17.5 && percentY >= 35 && percentY <= 65) {
    target11.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)"; 
  } else {
    target11.style.boxShadow = "none";
  }
  if (percentX >= 22.5 && percentX <= 37.5 && percentY >= 35 && percentY <= 65){
    target12.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)"; 
    //document.body.style.cursor = "pointer";f=1;
  } else {
    target12.style.boxShadow = "none";
  }
  if (percentX >= 42.5 && percentX <= 57.5 && percentY >= 35 && percentY <= 65){
    target13.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)"; 
    //document.body.style.cursor = "pointer";f=1;
  } else {
    target13.style.boxShadow = "none";
  }
  if (percentX >= 62.5 && percentX <= 77.5 && percentY >= 35 && percentY <= 65){
    target14.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)"; 
    //document.body.style.cursor = "pointer";f=1;
  } else {
    target14.style.boxShadow = "none";
  }
  if (percentX >= 82.5 && percentX <= 97.5 && percentY >= 35 && percentY <= 65){
    target15.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)"; 
    //document.body.style.cursor = "pointer";f=1;
  } else {
    target15.style.boxShadow = "none";
  }
  if (percentX >= 23 && percentX <= 36.6 && percentY >= 82 && percentY <= 89) {
    target21.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)";
    document.body.style.cursor = "pointer"; f=1;
  } else {
    target21.style.boxShadow = "none";
  }
  if (percentX >= 38 && percentX <= 51.6 && percentY >= 82 && percentY <= 89) {
    target22.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)";
    document.body.style.cursor = "pointer"; f=1;
  } else {
    target22.style.boxShadow = "none";
  }
  if (percentX >= 53 && percentX <= 66.6 && percentY >= 82 && percentY <= 89) {
    target23.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)";
    document.body.style.cursor = "pointer";
    f=1;
  } else {
    target23.style.boxShadow = "none";
  }
  if (percentX >= 68 && percentX <= 81.6 && percentY >= 82 && percentY <= 89) {
    target24.style.boxShadow = "0 0 10px 5px rgba(0,123,255,0.6)";
    document.body.style.cursor = "pointer"; f=1;
  } else {
    target24.style.boxShadow = "none";
  }
  if (f===0) document.body.style.cursor = "default";
});
document.addEventListener("click",e=>{
  const x = e.clientX;
  const y = e.clientY;
  const viewportWidth = window.innerWidth;
      const viewportHeight = window.innerHeight;
      const percentX = ((x / viewportWidth) * 100)
      const percentY = ((y / viewportHeight) * 100)
  if (percentX >= 23 && percentX <= 36.6 && percentY >= 82 && percentY <= 89) {
    console.log(1)
  window.location.href = '/';
  }
  if (percentX >= 38 && percentX <= 51.6 && percentY >= 82 && percentY <= 89) {
    const params = new URLSearchParams(window.location.search);
window.location.href = "/analytics?" + params.toString();
  //window.location.href = `/analytics?cap=${val}&runtime=${val1}&fuel=${val2}`;

  }
  if (percentX >= 53 && percentX <= 66.6 && percentY >= 82 && percentY <= 89) {
const params = new URLSearchParams(window.location.search);
window.location.href = "/predictions?" + params.toString();
  } 
  if (percentX >= 68 && percentX <= 81.6 && percentY >= 82 && percentY <= 89) {
const params = new URLSearchParams(window.location.search);
window.location.href = "/performance?" + params.toString();
  } 
});
  </script>
</body>
</html>
